<div class='center-h'>
  <form action='/' method='GET'>
      <input type='date' class='date-input' name='date'>
      <button type='submit' class='btn btn-primary'>Go</button>
  </form>
</div>
<br><br>

<% if @epic.is_a?(NasaApi::Error) %>
  <div class='container-fluid'>
    <h3 style="text-align: center">The submitted information was invalid or the demo API key has expired</h3>
  </div>
<% else %>
  <div class='container-fluid w-100 center-img'>
    <img src="<%= @latest_epic_image %>" class="img-fluid w-100" alt="APOD picture">
  </div>
<% end %>

